button{
    outline: none;
    border: none;
    padding: 5px 3px;
    border-radius: 6px;
    width: 100px;
    margin-left: 10px;
}
.button-dark{
    color: white;
    background-color: rgb(218, 51, 218);
}
.button-light{
    color: black;
    border: 1px solid black;
    background-color: white;

}