
.main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    place-items: end;
    /* background-color: red; */

}
.scroll{
    
    height: 100vh;
}
.menu{
    list-style-type: none;
    text-align: start;
    width: 100%;
    margin: 10px 0;
}
.menu span{
    background-color: rgba(233, 219, 219, 0.575);
    border-radius: 6px;
    justify-self: center;
    margin: 0 4px;
    padding: 5px 10px;
    cursor: pointer;

}

.imgStyle{
    width: 230px;
    height: 130px;
    border-radius: 10px;
}
.firstH1{
    font-size: 30px;
}

.border{
    border: 2px solid rgb(248, 243, 243);
    padding: 5px;
    border-radius: 10px;
    box-shadow: 1px 0 8px white;
    /* color: #f3e13de3; */
}

.green{
    color: rgb(92, 235, 92);
}
.black{
    color: black;
}